pandas==1.0.2
importlib_metadata==1.5.0
numpy==1.18.1
streamlit==0.56.0
zipp==3.1.0
docutils==0.15.2
brotli==1.0.7
cryptography==3.0
Cython==0.29.21
ipaddr==2.2.0
keyring==21.3.0
lockfile==0.12.2
lxml==4.5.2
mypy_extensions==0.4.3
ordereddict==1.1
protobuf==3.13.0
pyOpenSSL==19.1.0
typing_extensions==3.7.4.2
wincertstore==0.2
